#titulo{
    color: blue;
    font-size: 70px;
    text-shadow: 5px 5px darkblue;
    font-family: 'Young Serif', serif;
    font-weight: bolder;
}
#subtit{
    font-family: 'Josefin Sans', sans-serif;
    color:darkcyan;
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}
body{
    background-image: url(fondo\ azulito.jpg);
    background-size: 100%;
}
#img1{
    float:right;
    margin-right: 5px;
    margin-left: 20px;
    border-radius: 5%;
    border: solid 3px black;
    width: 300px;
}
p{
    font-size: 24px;
    font-family: 'AR One Sans', sans-serif;
    font-weight: bold;
}
h2{
    font-size: 28px;
    font-family: 'Young Serif', serif;
    color: blue;
}
li{
    font-size: 17.25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:bold;
}
br{
    font-weight:900;
    
}
#img2{
    float: left;
    margin-left: 5.7%;
    border-radius: 25%;
    border: solid 5px black;
    width: 475px;
}
#img3{
    float: right;
    margin-right: 5.7%;
    border-radius: 25%;
    border: solid 5px black;
    width: 460px;
}

#regresar{
    border-radius: 30px;
    background-color: coral;
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    margin: 30px;
}